[core]
   excludesfile = ~/.gitignore-global

[merge]
   conflictStyle = zdiff3

[mergetool]
   keepBackup = false

[pull]
   rebase = true

[rebase]
   autosquash = false
   autostash = false

[fetch]
   prune = true

[diff]
   algorithm = histogram
   colorMoved = zebra
   mnemonicPrefix = true

[commit]
   verbose = true

[help]
   autocorrect = prompt

[branch]
   sort = -committerdate

[tag]
   sort = version:refname

[credential]
	helper = store

[user]
  email = foobarberis@gmail.com
  name = Matthieu Barberis

[includeIf "gitdir:~/Code/Work/"]
   path = ~/.gitconfig-work
