[core]
	excludesfile = ~/.gitignore_global
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false

[include]
	path = ~/.gitconfig-user

[includeIf "gitdir:~/Code/School/"]
	path = ~/.gitconfig-school
[includeIf "gitdir:~/Code/Work/"]
	path = ~/.gitconfig-work
